.proclinic-box-shadow {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
    box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
    background: #fff;
    margin-top: 20px;
}

.widget-area-2 {
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 2px;
    border-radius: 2px;
    margin-bottom: 71px;
}

.widget-title {
    color: #E57498;
}

.widget-title {
    font-size: 22px;
    padding-bottom: .5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}

.no-mp {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px;
    background: #ffffff;
}
.card, .card-img-top {
    border-radius: 0px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card, .card-img-top {
    border-radius: 0px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}